{% extends "base_home.html" %}
{% block title %}Comptes{% endblock title %}   
{% block page_title %}Liste des comptes{% endblock page_title %}
{% block page_action %}
    <button class="btn btn-primary" onClick="on_create_button_click">
        <i class="fas fa-fw fa-plus"></i>
        <span>Nouveau Compte</span>
    </button>
{% endblock page_action %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Liste des comptes</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>N° Compte</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for compte in comptes  %}
                                <tr>
                                    <th>{{ compte.id }}</th>
                                    <td>{{ compte.number }}</td>
                                    <td>{{ compte.description }}</td>
                                    <td>
                                        <a href="{% url 'view_compte' compte.id %}" class="btn btn-sm btn-info">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
       
    </div>
    <script>
        const on_create_button_click = () => {
            alert("Hello");
        }
        
    </script>
{% endblock content %}